* {
    box-sizing: border-box;
    font: inherit;
    color: inherit;
}

body {
    font-family: 'Poppins', sans-serif;
    padding: 0;
    margin: 0;

    color: #333;
}

p{
    max-width: 600;
}

#container {
    max-width: 1200px;
    padding: 24px;
    margin: 0 auto;

    display: grid;
    grid-template-rows: auto 1fr auto;
    height: 100vh;
}

header{
    display: flex;
    align-items: center;
}

.navigation {
    flex-grow: 1;
    margin-left: 40px;
}

.navigation--item {
    text-decoration: none;
    color: #bdbdbd;
    margin-left: 24px;
}

.navigation--item:first-child{
    margin-left: 0;
}

.navigation--item__active{
    color: #333;
}

.navigation--button{
    border: none;
    background: linear-gradient(270deg, #FAA245 0%, #D8328A 37.25%, #753872 100%);
    padding: 10px 36px;
    color: white;
    border-radius: 51px;;
}

main{
    display: flex;
    align-items: center;
}

.main--content{
    flex: 1;
    margin-top: 40px;
    margin-bottom: 40px;
}

.headline {
    font-size: 52px;
    font-weight: 500;
    margin:0;
    padding: 0;

}

.description {
    color: #828282;
    margin: 0;
    padding: 0;
    margin-top: 24px;
    margin-bottom: 40px;
}
.play--button {
    
    padding: 10px 36px;
    border: 1px solid#e0e0e0;
    background: transparent;
    border-radius: 50px;

    display: flex;
    align-items: center;

    background: -webkit-linear-gradient(
        180deg,
        #faa245 0%,
        #d8328a 37.25%,
        #753872 100%
    );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.play-button .fa{
    background: inherit;
    font-size: 1.5rem;
    margin-right: 6px;
}

.main--img{
flex: 1;
}


.main--img img {
    width: 100px;
}

footer {
    display: flex;
}

.socials{
    margin-right: 40px;
    color: #bdbdbd;
}

.socials--item{
    margin-right: 12px;
}

.socials--item:hover{
    color:rgb(115, 218, 20);
}

.menu-button{
    flex-grow: 1;
    display: none;
}

.menu-button button {
    border: none;
    background-color: transparent ;
    font-size: 1.5rem;


}

.mobile-navigation {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: white;
    padding: 24px;

    display: none;

    transform: translate(-100%);
    transition: transform 300ms ease-in-out;
}


.mobile-navigation__open{
    transform: translateX(0);
}


.mobile-navigation--header{
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin-bottom: 40px;
}

.close-button button {
    border: none;
    background-color: transparent;
    font-size: 1.5rem;
}

.mobile--navigation--item{
    text-decoration: none;
    font-size: 1.5rem;
    color: #bdbdbd; 
    display: block;
    margin-bottom: 24px;
    
}

.mobile--navigation--item__active{
    color: #333;
}

@media only screen and (max-width: 660px) {
    main {
        display: block;
    }
    header .logo{
        display: none;
    }

    .navigation {
        display: none;
    }

    .mobile-navigation{
        display: block;
    }

    .menu-button{
        display: block;
    }
}